/* 3.해당 범위만 나오게끔 히든처리, 애는 고정되있음 */
.viewport {
  width: 80px;
  height: 50px;
  overflow: hidden;
}
/* 2.div를 가로정렬함, 뷰포트에 보여지도록 움직이는 영역 */
div.wrapper {
  display: flex;
  width: 400px;
}

/* 1.사진 크기 지정 */
div.panel > img {
  width: 80px;
  height: 50px;
}
